<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="container-xxl">
  <div class="top-menu">
    {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
  </div>

  <header>
    {{ block "header-content" . }} {{ end }}
  </header>

  <main>
    <div class="bd-toc">
      {{ block "table-of-content" . }} {{ end }}
    </div>
    <div class="bd-main">
      {{ block "main" . }}{{ end }}
    </div>
    
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

</body>
</html>
