{{ define "header-nav" }}
  {{ with .Prev }}
  <a href="{{ .RelPermalink }}">Previous</a>
  {{ end }}
  <span> | </span>
  {{ with .Next }}
  <a href="{{ .RelPermalink }}">Next</a>
  {{ end }}

  {{ with .Params.Medium }}
  <div>
    <span> ↗ </span>  <a href="{{ . }}" target="_blank">Also on Medium</a>
  </div>
  
  {{ end }}

  

{{ end }}

{{ define "header-content"}}

{{ partial "terms.html" (dict "taxonomy" "categories" "page" .) }}

<h1>{{ page.Title }}</h1>

<h2 class="subtitle">{{ .Params.Subtitle }}</h2>

{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
{{ $dateHuman := .Date | time.Format ":date_long" }}
{{ $profileName := .Site.Params.DisplayName }}

<div class="story-profile-brief d-flex flex-row">
  <div class="me-2">
    {{ with resources.Get (.Site.Params.ProfileThumbnail) }}
    <img alt="{{ $profileName }}" class="profile-thumbnail rounded-circle"
          src="{{ .Permalink }}" width="44"
          height="44" loading="lazy" data-testid="authorPhoto">
    {{ end }}
  </div>
  <div>
    <div>
      <a rel="noopener follow" href="{{ .Site.BaseURL}}">
        {{ .Site.Params.DisplayName }}
      </a>
    </div>
    <div>
      <span>{{ .ReadingTime}} min read</span>
      <span>·</span>
      <span><time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time></span>
    </div>
  </div>
            
</div>  

{{ end }}

{{ define "table-of-content" }}
  <div class="toc-header">On this page</div>
  {{ .TableOfContents }}
{{ end }}

{{ define "main" }}

  {{ .Content }}
  
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}

  {{ template "_internal/disqus.html" . }}

{{ end }}
