{{ define "header-content" }}
    <h1>{{ page.Title }}</h1>
    {{ .Content }}
{{ end }}

{{ define "table-of-content" }}
  <div class="toc-header">Categories</div>
  <ul>
    {{ range .Site.Taxonomies.categories.ByCount }}
      <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> {{ .Count }}</li>
    {{ end }}
  </ul>

  <div class="toc-header">Tags</div>
  <ul>
    {{ range .Site.Taxonomies.tags.ByCount }}
      <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> {{ .Count }}</li>
    {{ end }}
  </ul>

{{ end }}


{{ define "main" }}

{{ $pages := where site.RegularPages "Type" "posts" }}

<div class="content"> 

  <!-- Pinned Stories Section -->
  {{ partial "pinned-stories.html" $pages }}

  <!-- Latest Stories Section -->
  {{ partial "latest-stories.html" $pages }}
</div>

{{ end }}


